<!-- 10/26 김영환 작성 -->
{% extends 'mainsite/layout.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Chang-Won{% endblock %}

{% block contents %}

<section class="page-section bg-primary" id="products" style="padding-bottom: 0">
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar" class=" bg-secondary text-white">
            <div class="sidebar-header">
                <h3>상품 카테고리</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Dummy Heading</p>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Home 1</a>
                        </li>
                        <li>
                            <a href="#">Home 2</a>
                        </li>
                        <li>
                            <a href="#">Home 3</a>
                        </li>
                    </ul>
                </li>
                {% for kind in kinds %}
                <li>
                    <a class="kinds" href="/products?kind={{kind}}">{{ kind }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
        <!--   content    -->
        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                    <!-- 남승철 수정 임시 문의 버튼 2019.11.13 수정-->
                    <button type="button" data-toggle="modal" class="btn btn-primary" data-target="#myModal" onclick = "order_private()">제품 문의하기</button> 
                </div>
            </nav>
            
<!--  여기서부터 Product 리스트를 업로드 하시면 됩니다.  -->
{% block product %}            
            <div class="card-deck row m-2 mt-4">
                {% for product in contacts %}
                <div class="card col-md-4">
                    <a href="{% url 'product_view' product.id %}">
                        <img src="{{ product.photo_thumbnail.url }}" class="card-img-top product-img" alt="{{ product.photo.url }}">
                        <div class="card-body">
                            <h5 class="card-title" id = "product_name">{{ product.name }}</h5>
                        </div>
                    </a>
                    <div class="card-footer">
                        <!-- 남승철 수정 임시 문의 버튼-->
                        <div class="row mb-2">
                            <div class="col">
                                <small class="text-muted">가격 : {{ product.price }}</small><br>
                            </div>
                        </div>
                        <div class="row">
                            <button type="button" class="btn btn-primary col" data-toggle="modal" data-target="#myModal" onclick = "order('{{product.name}}')" style="font-size:1.2rem;">주문</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- pagenation 추가 - 2019-11-10 김영환 -->
            <nav aria-label="Page navigation" style="display: flex; justify-content: center; margin-top: 3rem;">
                <ul class="pagination">
                    {% if contacts.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?kind={{ kind }}&page={{ contacts.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% endif %}
                    
                    {% for i in contacts.paginator.page_range %}
                    <li class="page-item {% if i == contacts.number %}active{% endif %}">
                        <a class="page-link" href="?kind={{ kind }}&page={{i}}">{{ i }}</a>
                    </li>
                    {% endfor %}
                    
                    {% if contacts.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?kind={{ kind }}&page={{ contacts.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            
            <!-- 에러 핸들러 추가 - 2019-11-07 김영환 -->
            {% if error != "" %}
            <div class="alert alert-danger" role="alert" style="display: block;">
              {{ error }}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}    
</section>

<!-- 문의 모달 2019 10 27 남승철 추가-->

<div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <form method="POST" enctype="multipart/form-data" action="{%url 'order'%}">
                    {%csrf_token%}
                    <div class="form-group">
                        <label for="exampleInputEmail1">주문자 메일</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="" name="email">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1" id="product_kind">주문 상세내용</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1 " rows="3" name="content"></textarea>
                    </div>
                    <div class="form-group row">
                        <label for="example-number-input" class="col-12 col-form-label" name="count">수량</label>
                        <div class="col-12">
                            <input class="form-control" type="number" value="0" id="example-number-input" name="count">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-number-input" class="col-12 col-form-label" id="addfile">파일첨부</label>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" name="addfile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Q&A</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="content"></textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">제출</button>
                        <button type="submit" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    
<!-- 김영환 추가 -->
<button id="expand" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" style="display: none">Extra large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="card">
                <img src="#" class="card-img-top expand-img" alt="#">
                <div class="card-body">
                    <p class="card-text">설명을 추가해주세요.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    let expandImg = $(".expand-img");
    let expand = $("#expand");
    let index = false;
    let timer;
    
    // 웹에서 마우스 클릭 이벤트 관리
    $(".product-img").mousedown(function(e) { 
        img = $(this).attr("alt"); // 이미지 주소 받아오기
        expandImg.attr("src", img);
        timer = setTimeout(function () {
            e.preventDefault();
            expand.click();
        }, 1000);
        // alert(e.which); // 1:좌클릭, 2:휠클릭, 3:우클릭 
    });
    
    $(".product-img").mouseup(function(e) { 
        clearTimeout(timer);
    });
    
    // 모바일에서 화면터치 이벤트 관리
    $(".product-img").bind('touchstart', function(e) {
        img = $(this).attr("src"); // 이미지 주소 받아오기
        expandImg.attr("src", img);
        timer = setTimeout(function () {
            index = true;
            expand.click();
        }, 700);
    });
    $(".product-img").bind('touchend', function(e) {
        if(index){
            e.preventDefault();
            index = !index;  
        }else {
            clearTimeout(timer); 
        }
    });
</script>

    <!-- 기성품 주문 모달 처리 -->
<script>
    let product_name;
    let modals;
    let label;
    function order(productName){
        modals = document.getElementById('product_kind');
        modals.innerHTML = productName;
    
    }
    
    function order_private(){
        modals = document.getElementById('product_kind');
        modals.innerHTML = "주문 상세내용";
    
    }
</script>
{% endblock %}