<!-- 10/26 김영환 작성 -->
{% extends 'products/index.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}Chang-Won{% endblock %}

{% block product %}
<div class="container">
    <div class="card-columns row justify-content-md-center">
        <!-- 상품 이미지 블록 -->
        <div class="card col-sm-8" style ="display:flex; align-items: center; justify-content: center;">
            <img src="{{ product.photo.url }}" class="card-img-top product-img" alt="{{ product.photo.url }}" >
        </div>
        <!-- 상품 설명 및 발주버튼 블록 -->
        <!-- 상세부분 수정 심세은  -->
        <div class="card col-sm-4">
            <div class="card-body">
                <h5 class="card-title">제품 명: {{product.name}}</h5>
                <hr>
            </div>
            <p class ="card-body" style="padding-top: 0px">
                제품 설명:
            </p>
            <div class="card-body" style="padding-top: 0px">
                <p class="card-text"> {{product.description|linebreaks}}</p>
                <hr>
            </div>
            
            <div class="card-body">
                <p class="card-text">제품 가격: {{product.price}}</p>
                <hr>
            </div>
            
            <div align="right">
                <button type = "button" class ="btn btn-primary" > 
                    문의
                </button> 
            </div>
        </div>
    </div>
    </div>
{% endblock %}